In [28]:
import pandas as pd
import numpy as np
import scipy

In [3]:
data = pd.read_csv("homepage-experiment-data.csv")

In [4]:
data.head()

,Day,Control Cookies,Control Downloads,Control Licenses,Experiment Cookies,Experiment Downloads,Experiment Licenses
0,1,1764,246,1,1850,339,3
1,2,1541,234,2,1590,281,2
2,3,1457,240,1,1515,274,1
3,4,1587,224,1,1541,284,2
4,5,1606,253,2,1643,292,3

In [10]:
data.columns

Index(['Day', 'Control Cookies', 'Control Downloads', 'Control Licenses',
       'Experiment Cookies', 'Experiment Downloads', 'Experiment Licenses'],
      dtype='object')

In [ ]:
#Comparing invariant matrix (the number of cookies in control group and experiment group)

In [16]:
sum_control = data['Control Cookies'].sum()

In [17]:
sum_expr = data['Experiment Cookies'].sum()

In [20]:
n = sum_control + sum_expr
n

94197

In [24]:
sd = np.sqrt(0.5 * (1-0.5) * n)
sd

153.4576488807254

In [26]:
z = ((sum_control + 0.5) - 0.5 * n ) / sd
z

-1.6095646049678511

In [30]:
scipy.stats.norm.sf(abs(z))*2

0.10749294050130412

In [44]:
data_subset = data[data['Day'].isin(range(22))]
data_subset.tail()

,Day,Control Cookies,Control Downloads,Control Licenses,Experiment Cookies,Experiment Downloads,Experiment Licenses
16,17,1573,252,32,1551,295,36
17,18,1603,260,33,1607,281,27
18,19,1596,263,29,1625,289,29
19,20,1817,320,35,1780,315,23
20,21,1602,271,38,1588,256,44

In [46]:
#compare download rate
data_subset = data[data['Day'].isin(range(22))]
n_expr = data_subset['Experiment Cookies'].sum()
n_cont = data_subset['Control Cookies'].sum()
d_expr = data_subset['Experiment Downloads'].sum()
d_cont = data_subset['Control Downloads'].sum()
d_rate_expr = d_expr / n_expr
d_rate_cont = d_cont / n_cont
p = (d_expr + d_cont)/(n_expr + n_cont)
se_p = (np.sqrt(p * (1-p) * (1 / n_expr + 1 / n_cont)))
z = (d_rate_expr - d_rate_cont)/se_p
z

6.186463009931895

In [40]:
1-scipy.stats.norm.cdf(z)

1.7763568394002505e-15

In [49]:
data_subset2 = data[data['Day'].isin(range(8,29))]
data_subset2.head()

,Day,Control Cookies,Control Downloads,Control Licenses,Experiment Cookies,Experiment Downloads,Experiment Licenses
6,7,1534,262,5,1555,276,8
7,8,1798,331,12,1787,326,20
8,9,1478,223,30,1553,298,38
9,10,1461,236,32,1458,289,23
10,11,1478,240,35,1555,279,36

In [53]:
#compare purchase rate
data_subset = data[data['Day'].isin(range(22))]
n_expr = data_subset['Experiment Cookies'].sum()
n_cont = data_subset['Control Cookies'].sum()
l_expr = data['Experiment Licenses'].sum()
l_cont = data['Control Licenses'].sum()
l_rate_expr = l_expr / n_expr
l_rate_cont = l_cont / n_cont
p = (l_expr + l_cont)/(n_expr + n_cont)
se_p = (np.sqrt(p * (1-p) * (1 / n_expr + 1 / n_cont)))
z = (l_rate_expr - l_rate_cont)/se_p
z

0.2586750111658684

In [57]:
1-scipy.stats.norm.cdf(z)

0.3979430008399871